#sidebar {
    position: absolute;
}

.chat {
    position: relative;
    float: right;
    margin-right: 20px;;
    height: 300px;
    width: 30px;
    z-index: 2;
    padding-top: 40px;
}

.chat div {
    background: #EFFDFF;;
}

.chat .arrow,
.chat .workarea {
    height: 100%;
    float: right;
    border: 5px solid #B7D6E7;
    position: relative;
}

.chat .arrow {
    width: 20px;
}

.chat .arrow div {
    padding-top: 140px;
    text-align: center;
}

.chat .arrow div a {
    text-decoration: none;
}

.chat .workarea {
    max-width: 245px;
    border-left: none;
}

.chat .workarea .messages {
    height: 270px;
    overflow-y: auto;
    border-bottom: 5px solid #B7D6E7;
}

.chat .workarea textarea {
    resize: none;
}